header {
    width:100%;
    min-width:1000px;
}
div#top-area {
    margin:0 auto;
    padding:142px 0 52px 0;
    width:1000px;
    @include clear;
    h1#logo {
        float:left;
        margin:0;
        a {
            display:inline-block;
            font-family:'Roboto';
            font-size:22px;
            color:#464646;
            svg {
                vertical-align:middle;
            }
        }
    }
}

div#prequel {
    margin:0 auto;
    width:100%;
    max-width:1000px;
    height:440px;
}

.swiper {
  width:100%;
  height:100%;
}

.swiper-slide {
  background-position:center;
  background-size:cover;
}

.swiper-slide img {
  display:block;
  width:100%;
}
  
ul#gnb {
    float:right;
    margin:0 auto;
    padding:0;
    list-style:none;
    @include clear;
    li {
        float:left;
        margin:0;
        padding:0;
        a {
            position:relative;
            display:inline-block;
            margin-left:70px;
            padding:13px 0;
            font-family:'Roboto';
            font-size:15px;
            color:#383838;
        }
    }
}

footer {
    margin:0;
    padding:20px 0;
    width:100%;
    min-width:1000px;
    height:166px;
    box-sizing:border-box;
    div.con-wrap {
        margin:0 auto;
        padding:35px 0 0 0;
        width:1000px;
        border-top:1px solid #eee;       
        span.service {
            float:right;
            font-family:'Roboto';
            font-size:13px;
            color:#8a8a8a;
            letter-spacing:1px;
            a {
                display:block;
                margin-top:4px;
                font-size:12px;
                letter-spacing:0;
                color:#4a4a4a;
            }
        }    
    }
}