//button
@mixin button {
    &,* {position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; white-space:nowrap; vertical-align:middle; overflow:visible; text-align:center; box-sizing:content-box; letter-spacing:-1px;}
    * {cursor:pointer; _cursor:hand}
    //* {min-width:100px; line-height:25px; height:25px;}
    * {box-sizing:content-box;-moz-box-sizing:content-box; border-radius:3px; box-shadow:1px 1px 3px #bbb;
        &:hover {transition:all 0.3s}
        }
    }


// button size
@mixin button-size ($m-width, $line-h, $padding, $fs, $type:basic) {
    @if $type == basic {
        // basic button
        min-width:$m-width;
        line-height:$line-h;
        padding:$padding;
        font-size:$fs;
    }
    @else if $type == small {
        // width - small
        min-width:$m-width;
        line-height:$line-h;
        padding:$padding;
        font-size:$fs;
    }
    @else if $type == fixed {
        // fixed
        width:$m-width;
        line-height:$line-h;
        padding:$padding;
        font-size:$fs;
    }
}


// basic button
.button-b {
    @include button;
    * {background:$dark-color; color:#fff;
        &:hover {background:darken($dark-color, 10%)};
        @include button_size (100px, 23px, 7px 10px, 17px, basic);
    }
    a {color:#fff;}
}
// basic different button
.button-bd {
    @include button;
    * {background:$sub-color; color:#fff;
        *:hover,
        &:hover {background-color:darken($sub-color, 10%)};
        @include button_size (100px, 23px, 7px 10px, 17px, basic);
    }
    a {color:#fff;}
}

// basic different button
.button-bd2 {
    @include button;
    * {background:$txt-gray; color:#fff;
        *:hover,
        &:hover {background-color:darken($txt-gray, 10%)};
        @include button_size (100px, 23px, 7px 10px, 17px, basic);
    }
    a {color:#fff;}
}

// small button
.button-s {
    @include button;
    margin:0 0 1px 0 !important;
    * {background:$main-color; color:#fff; border-radius:0;
        *:hover,
        &:hover {background-color:darken($main-color, 10%); color:#fff !important};
        @include button_size (50px, 15px, 5px, 12px, small);
    }
    a {color:#fff;}
}

// small non-check button
.button-sn {
    @include button;
    a {color:#fff !important}
    * {background:#aaa; color:#fff; border-radius:0; box-shadow:none;
        *:hover,
        &:hover {background-color:darken($btn-basic-color, 10%); color:#fff !important};
        @include button_size (50px, 15px, 5px, 12px, small);
    }
}

// small different button
.button-sd {
    @include button;
    margin:0 0 1px 0 !important;
    * {background:$btn-dif-color; color:#fff; border-radius:0;
        &:hover  {background-color:darken($btn-dif-color, 10%); color:#fff};
        @include button_size (50px, 15px, 5px, 12px, small);
    }
    a {color:#fff;}
}

// small different button2
.button-sd2 {
    @include button;
    margin:0 0 1px 0 !important;
    * {background:#fff; border:1px solid #a5a9b1;
        &:hover  {border:1px solid #000};
        @include button_size (50px, 15px, 5px, 12px, small);
    }
    a {}
}

// width fix button
.button-fx {
    @include button;
    a {}
    * {background:#fff;
        &:hover {border:1px solid #000};
        @include button_size (100px, 16px, 5px, 13px, fixed);
        margin:1px 0;
        border:1px solid #a5a9b1;
    }
}


// width fix button
.button-fxd {
    @include button;
    a {color:#fff !important}
    * {border:1px solid $main-color; background:$main-color; color:#fff;
        &:hover {background-color:darken($main-color, 10%)};
        @include button_size (100px, 16px, 5px, 13px, fixed);
        margin:1px 0;
    }
}

// width fix button
.button-os {
    @include button;
    a {color:#383838 !important}
    * {color:#383838; background:none; box-shadow:none; text-decoration:underline !important;
        &:hover {background-color:darken(#fff, 10%)};
        @include button_size (100px, 16px, 5px, 13px, fixed);
        margin:1px 0;
    }
}


// delete icon 
.button-del {
    &:before {font-family:fontello; font-size:19px; content:'\e806';}
    width:25px; height:25px; padding:0; background:none;
    border:0;  color:$txt-gray; 
    &:hover {color:$sub-color;}
}

// download icon
.button-down {
    &:before {@include absolute(5px, 10px, tl); font-family:fontello; font-size:13px; content:'\e803'; color:$sub-color;}
    position:relative; padding:8px 10px 8px 30px; background:none;
    border:1px solid #ccc; color:$txt-gray; font-size:14px;
    &:hover {color:$sub-color; border-color:$sub-color;}    
}

.btn-icon {
    padding:2px; background:none; border:0;
    i {font-size:15px; color:mix($dark-color, #666, 50%);}
    &:hover i {color:$dark-color;}
}

// basic different button2
.button-srch {
    @include button;
    a {color:#fff !important}
    * {background:#d2242d; color:#fff; border-radius:3px;
        *:hover,
        &:hover {background-color:darken(#d2242d, 10%)};
        @include button_size (100px, 23px, 6px 9px, 13px, basic);
    }
}

.button-srch_re {
    @include button;
    a {color:#434343 !important}
    * {background:#fff; color:#434343; border-radius:3px; border:1px solid #a9a9a9;
        *:hover,
        &:hover {background-color:darken(#fff, 10%)};
        @include button_size (99px, 23px, 5px 9px, 13px, basic);
    }
}

// itplus-srch button
.button-search {
    @include button;
    vertical-align:bottom !important;
    margin:0 !important;
    * {background:$main-color; color:#fff; border-radius:0; padding:8px 7px !important;
        *:hover,
        &:hover {background-color:darken($main-color, 10%); color:#fff !important};
        @include button_size (50px, 15px, 7px, 12px, small);
    }
    a {color:#fff;}
}

// itplus-srch button
.button-search-dif {
    @include button;
    vertical-align:bottom !important;    
    margin:0 !important;
    * {background:#e6291b; color:#fff; border-radius:0; padding:8px 7px !important; 
        *:hover,
        &:hover {background-color:darken(#e6291b, 10%); color:#fff !important};
        @include button_size (50px, 15px, 7px, 12px, small);
    }
    a {color:#fff;}
}