body {
	font: {
		family:$font-face !important;
		size:1rem;
		weight:400;
	}
}
.blind,
table caption,
*:first-child+html table caption {
	position:absolute; 
	top:-999999px; 
	left:-999999px; 
	height:0; 
	padding:0; 
	margin:0; 
	font-size:0; 
	line-height:0;
}

.margin-b5 {margin-bottom:5px !important}
.margin-b10 {margin-bottom:10px !important}
.margin-b20 {margin-bottom:20px !important}
.margin-b30 {margin-bottom:30px !important}
.no-margin {margin:0 !important; padding:0 !important}

a:link,
a:visited {color:$dark-color; text-decoration:none;}
a:hover,
a:active {color:$p-red; text-decoration:none;}

a.link-style:link,
a.link-style:visited {color:#0028fb; border-bottom:1px dashed #ddd; text-decoration:none;}
a.link-style:hover,
a.link-style:active {color:#0028fb; border-bottom:1px solid #0028fb; text-decoration:none;}


p {padding:0; margin:0 0 30px 0;}

input[type='text'],
input[type='password'],
textarea {padding:3px 5px; border:1px solid #ccc !important;
	&:hover {border-color:lighten($sub-color,10%) !important}
	&:focus {border-color:$sub-color !important}
}
input[type='text'][role='count'] {width:40px;}
input[type='text'].date {position:relative; width:85px; padding-right:25px; background:#fff url('../image/icon_calendar.png') no-repeat center right;}
input[type='text'].full, select.full {width:100%;}

input[type='button'].m-icons {border:0; background:none; font-family:'Material Icons'; font-size:23px; vertical-align:bottom;}
input[type='button'].btn-add {color:#2175f3;}
input[type='button'].btn-del {color:#f44336;}

textarea {width:100px; min-width:96%; min-height:80px; border:1px solid #ccc; overflow-y:scroll}

select {height:32px; line-height:31px; padding:2px; border:1px solid #ccc}

table.center th,
table.center td,
th.center,
td.center {padding-left:5px; padding-right:5px; text-align:center}

.item {
	position:relative;
	.i-label {
		@include absolute(3px, 4px, tl);
		color:$txt-gray;
		line-height:140%;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6 {padding:0; margin:0; font-family:$font-face; font-size:15px;}
.h1, .h2, .h3 {letter-spacing:-1px; line-height:110%; font-weight:normal;}
.h1 {margin-bottom:20px; font-size:300%;} // 45px pagetitle
.h2 {margin-bottom:20px; font-size:160%;} // 24px lnb title
.h3 {margin-bottom:15px; font-size:140%;} // 21px subject
.h4 {margin-bottom:7px; font-size:110%;} // 16.5px subject2
.h5 {font-size:100%;}
.h6 {font-size:100%;}

.subject {@extend .h5; font-family:'Roboto'; font-weight:400; letter-spacing:4px; color:#939393;}
.subject2 {@extend .h4; color:$dark-color;}
.subject3 {
	@extend .h5; position:relative; padding-left:10px; margin-left:10px; color:$txt-color;
	&:before {
		@include absolute(3px, 0, tl); width:5px; height:5px; background:$p-green; content:'';
	}
}
.text-small {
	*,& {font-size:13px !important;}
}

a.file-down {
	span.material-icons {
		font-size:19px;
		color:$main-color;
	}
	&:hover {
		text-decoration:underline;
		color:$main-color;
	}
}