@charset "UTF-8";



/* korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), url(../fonts/Pby6FmXiEBPT4ITbgNA5CgmOsk7lyJcsuA.woff2) format('woff2'), url('../fonts/NotoSans-Thin.eot');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), url(../fonts/Pby6FmXiEBPT4ITbgNA5CgmOsk7vyJc.woff2) format('woff2'), url('../fonts/NotoSans-Thin.eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOelz45bIRgWY.woff2) format('woff2'), url('../fonts/NotoSans-Light.eot');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOelz477IR.woff2) format('woff2'), url('../fonts/NotoSans-Light.eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../fonts/PbykFmXiEBPT4ITbgNA5CgmG237t0JM.woff2) format('woff2'), url('../fonts/NotoSans-Light.eot');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../fonts/PbykFmXiEBPT4ITbgNA5CgmG0X7t.woff2) format('woff2'), url('../fonts/NotoSans-Light.eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOIl345bIRgWY.woff2) format('woff2'), url('../fonts/NotoSans-Regular.eot');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOIl3477IR.woff2) format('woff2'), url('../fonts/NotoSans-Regular.eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOalv45bIRgWY.woff2) format('woff2'), url('../fonts/NotoSans-Regular.eot');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOalv477IR.woff2) format('woff2'), url('../fonts/NotoSans-Regular.eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto-Light.woff2) format('woff2'), url('../fonts/Roboto-Light.eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; 
  src: url(../fonts/Roboto-Regular.woff2) format('woff2'), url('../fonts/Roboto-Regular.eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-midium.woff2) format('woff2'), url('../fonts/Roboto-midium.eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff2) format('woff2'), url('../fonts/Roboto-Bold.eot');
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../icon/MaterialIconsOutlined-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../icon/MaterialIconsOutlined-Regular.woff2) format('woff2'),
       url(../icon/MaterialIconsOutlined-Regular.woff) format('woff'),
       url(../icon/MaterialIconsOutlined-Regular.ttf) format('truetype');
}

.material-symbols {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}