$font-face:'Noto Sans KR';

// color
$txt-color:#272727;
$txt-gray:#808080;
$dark-color:#0a1823;
$sub-color:#37424c;
$highlight-color:#fe9b00;
$main-color:#007a66;
$p-red:#ca0464;
$p-red-sub:#c62272;
$p-green:#016e65;
$p-blue:#34d;


// size
$screen-xs:0;
$screen-sm:576px;
$screen-md:768px;
$screen-lg:992px;
$screen-xl:1200px;

$screen: ( xs:0, sm: $screen-sm, md: $screen-md, lg: $screen-lg, xl: $screen-xl );


// btn color
$btn-basic-color:#3a63a3;
$btn-dif-color:#f44336;